[mysqld]
user                    = mysql
pid-file               = /run/mysqld/mysql.pid
socket                 = /run/mysqld/mysql.sock
port                   = 3306
datadir                = /var/lib/mysql
bind-address           = *